/* |X| Set root variables */
:root {
    --priCyan: hsl(179, 62%, 43%);
    --secCyan: hsl(179, 62%, 55%);
    --shadowCyan: hsl(179, 62%, 30%); 
    --priBrightYellow: hsl(71, 73%, 54%);

    --neuLightGray: hsl(204, 43%, 93%);
    --neuGrayishBlue: hsl(218, 22%, 67%);
}

/* |X| Basic CSS reset */
*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neuLightGray);
}

/* || Generic stylings - join  */
#join-section {
    background-color: white;
}

#join-section h1 {
    color: var(--priCyan);
}

#join-section h3 {
    color: var(--priBrightYellow);
}

#join-section .join-section-p {
    color: var(--neuGrayishBlue);
}

/* || Generic stylings - subscription  */
#subscription-section {
    background-color: var(--priCyan);
}

#subscription-section h2 {}
#subscription-section .subscription-pricing {}
#subscription-section .subscription-pricing .sub-cost {}
#subscription-section .subscription-pricing .sub-time {}
#subscription-section .sub-info {}
#subscription-section button {}

#why-section {
    background-color: var(--secCyan);
}

#why-section li {
    list-style-type: none;
}

/* || Mobile-viewport stylings */
main {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section {
    width: 100%;
    padding: 1rem;
    height: 200px;
}

/* || Join section styling */
#join-section {
    width: 100%;
}
#join-section h1 {}
#join-section h3 {}
#join-section .join-section-p {}

/* || Subscription section styling */
#subscription-section {}
#subscription-section h2 {}
#subscription-section .subscription-pricing {}
#subscription-section .subscription-pricing .sub-cost {}
#subscription-section .subscription-pricing .sub-time {}
#subscription-section .sub-info {}
#subscription-section button {}

/* || Why section styling */
#why-section {}
#why-section h2 {}
#why-section ul {}
#why-section li{}





/* || Desktop-viewport stylings */
@media screen and (min-width: 500px) {
    main {
        max-width: 600px;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

    #join-section {
        max-width: 600px;
    }

    #subscription-section {
        width: 300px;
    }

    #why-section {
        width: 300px;
    }
}

/*
main {}
section {}

 || Join section styling 
#join-section {}
#join-section h1 {}
#join-section h3 {}
#join-section .join-section-p {}

 || Subscription section styling 
#subscription-section {}
#subscription-section h2 {}
#subscription-section .subscription-pricing {}
#subscription-section .subscription-pricing .sub-cost {}
#subscription-section .subscription-pricing .sub-time {}
#subscription-section .sub-info {}
#subscription-section button {}

 || Why section styling 
#why-section {}
#why-section h2 {}
#why-section ul {}
#why-section li{}
*/











/* || Footer */
footer {
    display: none;
    position: absolute;
    bottom: 0;
}

.attribution {
     font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}
